@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 275 100% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 50% 90%;
    --secondary-foreground: 275 100% 26%;
    --muted: 240 20% 96%;
    --muted-foreground: 240 5% 65%;
    --accent: 45 100% 58%;
    --accent-foreground: 275 25% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 88%;
    --input: 240 20% 92%;
    --ring: 275 100% 26%;
    --radius: 0.5rem;

    --sidebar-background: 275 100% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 45 100% 58%;
    --sidebar-primary-foreground: 275 100% 15%;
    --sidebar-accent: 275 100% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 275 100% 28%;
    --sidebar-ring: 45 100% 58%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 275 80% 70%;
    --primary-foreground: 275 100% 15%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 45 100% 58%;
    --accent-foreground: 275 25% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 275 80% 70%;

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 275 80% 70%;
    --sidebar-primary-foreground: 275 100% 15%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 275 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
